body{
    margin: 0;
    background-image: linear-gradient(to right, rgb(171, 249, 255), rgb(184, 252, 153));
}

h1{
    font-family: 'Single Day', cursive;
    text-align: center;
    font-size: 40px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnDiv{
    width: 250px;
    height: 250px;
    margin: 20px;
    
}

p{
    font-family: 'Single Day', cursive;
    text-align: center;
    font-size: 25px;
}

button{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;   
    background-position: center;
    margin-left: 10%;
    transition: all 0.01s ease-in;
}

button:hover {
  width: 205px;
  height: 205px;
  cursor: pointer;
}

.stone{
    background-image: url("images/stone.jpg");
}

.paper{
    background-image: url("images/paper.jpg");
}

.scissor{
    background-image: url("images/scissor.jpg");
}

#PlayerDisplay, #ComputerDisplay{
    margin: 20px 0;
    font-family: 'Single Day', cursive;
    text-align: center;
    font-size: 30px;
}

#ResultDisplay{
    margin-top: 40px 0;
    font-family: 'Single Day', cursive;
    text-align: center;
    font-size: 50px;
}

.greencolor{
    color: rgb(0, 151, 0);
}

.redcolor{
    color: red;
}

.bluecolor{
    color: blue;
}


